#cloud-config
autoinstall:
  version: 1
  locale: en_US
  keyboard:
    layout: us
  identity:
    hostname: ubuntu-server
    username: <your-username>
    password: "<hashed-password>"
  ssh:
    install-server: true
    allow-pw: false
    authorized-keys:
      - <ssh-public-key-contents> <your-username>@<your-hostname>
  packages:
    - openssh-server
    - qemu-guest-agent
  packages:
    - qemu-guest-agent
    - sudo
  storage:
    layout:
      name: direct
    swap:
      size: 0
  user-data:
    package_upgrade: false
    timezone: America/New_York
    users:
      - name: <your-username>
        groups: [adm, sudo]
        lock-passwd: false
        sudo: ALL=(ALL) NOPASSWD:ALL
        shell: /bin/bash
        ssh_authorized_keys:
         - <ssh-public-key-contents> <your-username>@<your-hostname>
